@{
    ViewData["Title"] = "Sobre";
}
<h1 class="text-center">Contato</h1>
<div class="content">
    <div class="container-fluid">
        <div class="text-center">
            Leonardo Custodio dos Santos RA: 0261810790
            <br />
            Guilherme Camargo
            <br />
            Enzo Benvengo
        </div>
        
    </div>
</div>

