@{
    ViewData["Title"] = "Cadastrar Autor";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Pagina Cadastro de Autor</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item active">Gerenciar Autor</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="">
            <form id="autor-fdados" class="form-horizontal">
                <p id="id" style="display:none;">0</p>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nome"><span style="color:red;">*</span>Nome:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="nome" placeholder="Digite o Nome do Autor">
                    </div>
                    <span>Os campos com <span style="color:red;">*</span> são obrigatórios.</span>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" onclick="indexAutor.enviar()">Cadastrar</button>
                    </div><br />
                    <div class="col-sm-3" id="gravou"></div>
                </div>

            </form>

            <div class="center">
                <div class="row">
                    <h2 class="m-1">Lista de Autores</h2>
                    <p class="col-sm-5"></p>
                    <input type="text" class="form-control col-sm-2 m-1" id="pesquisaAutor" placeholder="Digite o nome do autor(a)" value="" />
                    <input type="button" class="form-control col-1 btn-dark m-1" value="Pesquisar" onclick="indexAutor.pesquisar()" />
                    <input type="button" class="form-control col-1 btn-default m-1" value="Listar Todos" onclick="indexAutor.carregar()" />
                </div>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Apagar</th>
                            <th>Alterar</th>
                        </tr>
                    </thead>
                    <tbody id="corpo-tabela">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

@section javascript {
    <script src="~/js/views/autor/Index.js"></script>
    <script src="~/lib/HTTPClient.js"></script>
}