@{
    ViewData["Title"] = "Cadastrar Editora";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Pagina Cadastro de Editora</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item active">Gerenciar Editora</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div>
            <form id="editora-fdados" class="form-horizontal">
                <p id="id" style="display:none;">0</p>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nome"><span style="color:red;">*</span>Nome:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="nome" placeholder="Digite o Nome da Editora">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="descricao"><span style="color:red;">*</span>Descricao:</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" id="descricao" placeholder="Digite uma Breve Descricao"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="telefone"><span style="color:red;">*</span>Telefone:</label>
                    <div class="col-sm-2">
                        <input type="tel" class="form-control" id="telefone" onkeypress="mask(this, mphone);" maxlength="15" placeholder="Digite o Telefone">
                    </div>
                    <span>Os campos com <span style="color:red;">*</span> são obrigatórios.</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" onclick="indexEditora.enviar()">Gravar</button>
                    </div><br />
                    <div class="col-sm-3" id="gravou"></div>
                </div>

            </form>
            <div class="center">
                <div class="row">
                    <h2 class="m-1">Lista de Editoras</h2>
                    <p class="col-sm-5"></p>
                    <input type="text" class="form-control col-sm-2 m-1" id="pesquisaEditora"  placeholder="Digite o nome da editora" value="" />
                    <input type="button" class="form-control col-1 btn-dark m-1" value="Pesquisar" onclick="indexEditora.pesquisar()" />
                    <input type="button" class="form-control col-1 btn-default m-1" value="Listar Todos" onclick="indexEditora.carregar()" />
                </div>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Telefone</th>
                            <th>Apagar</th>
                            <th>Alterar</th>
                        </tr>
                    </thead>
                    <tbody id="corpo-tabela">
                    </tbody>
                </table>
            </div>


        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
@section javascript {
    <script src="~/js/views/editora/Index.js"></script>
    <script src="~/lib/HTTPClient.js"></script>
    <script src="~/js/views/editora/mascaraTel.js"></script>
}