@{
    ViewData["Title"] = "Cadastrar Livro";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Pagina Cadastro de Livro</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item active">Cadastro de Livro</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="">
            <form>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nome">Título:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="nome" placeholder="Digite o Nome do livro">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="exemplar">Exemplar:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="exempl" placeholder="Digite o nome do exemplar">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="editora">Editora:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="editora" placeholder="Digite o nome da editora">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="reserva">Reserva:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="exempl" placeholder="Digite o nome da reserva">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="reserva">Autor:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="exempl" placeholder="Digite o nome do autor">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" onclick="indexLivro.enviar()">Cadastrar</button>
                    </div><br />
                    <div class="col-sm-3" id="gravou"></div>
                </div>


            </form>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

